# Miscellaneous
*.class
*.as
*.jar
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/key.properties
.gradle/
# Google Services file is added in CI
**/android/app/google-services.json

# iOS related
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner.xcworkspace/
**/ios/Runner.xcarchive/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json

# Windows related
**/windows/flutter/generated_plugins.cmake
**/windows/runner/Debug/
**/windows/runner/Profile/
**/windows/runner/Release/
**/windows/runner/win32_headers/
**/windows/runner/GeneratedPlugins.cmake
**/windows/CMakeLists.txt.user
**/windows/.vs/

# macOS related
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/ephemeral
**/macos/Runner.xcworkspace
**/macos/users/
**/macos/ServiceDefinitions.json

# Linux related
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
**/linux/CMakeLists.txt.user
**/linux/nbproject/
**/linux/runner/Debug/
**/linux/runner/Profile/
**/linux/runner/Release/

# Web related
**/web/cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.project
.buildlog
*.iml
*.ipr
*.iws
.idea
.vscode
app.dSYM
.dart_tool
build
# Ignore generated files from the Flutter web build
lib/generated_plugin_registrant.dart
web/flutter_bootstrap.js
web/main.dart.js
web/main.dart.js.deps
web/main.dart.js.map
web/main.dart.js.tar.gz
web/assets/assets/
web/assets/canvaskit/
web/assets/fonts/
web/assets/packages/
web/assets/shaders/
web/index.html
web/version.json

# Generated files
lib/generated_plugin_registrant.dart
lib/firebase_options.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
